.site-description {
  text-align: left;
}

#viewedList {
  float: left;
  width: 45%;
}
#list {
  float: left;
  width: 50%;
}

#random {
  float: left;
}

#input {
  margin-left: 20px;
  width: 100%;
}

#title {
  width: 80%;
}

.like,
.dislike,
.del {
  float: right;
  margin-right: 2px;
}

#notViewedHead,
#viewedHead {
  float: left;
  margin-left: 20px;
  width: 45%;
}

#viewedHead {
  margin-left: 70px;
}

#random {
  clear: left;
  margin: 10px;
}

/* body {
  background-color: black;
  color: white;
} */

.jumbotron {
  background-color: orangered;
  /* color: black; */
}
